* {
  background-color: #03080e;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  background-image: linear-gradient(to right, #ff8b37, #ffc700);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0px;
  margin-right: 160px;
}

p {
  color: white;
  background: none;
}

.icon {
  margin-top: -20px;
  max-width: 35px;
  margin-left: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  width: 325px;
  height: 40px;
  margin-left: 30px;
  background: linear-gradient(
    to right,
    rgba(244, 244, 249, 0.6),
    rgba(3, 8, 14, 0.6)
  );
}

.search-bar input[type="text"] {
  color: white;
  border: none;
  outline: none;
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  font-size: large;
  background: none;
}

.search-bar input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-bar img.icon {
  max-width: 30px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 0px;
  background: none;
}

h2 {
  color: white;
  margin-left: 30px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  gap: 10px;
  padding: 10px;
  margin: 20px 0;
  margin-left: 25px;
}

.big-img {
  flex: 0 0 auto;
  scroll-snap-align: center;
  max-width: 230px;
  height: auto;
}

.routine-card {
  width: 340px;
  height: 175px;
  background: linear-gradient(
    to right,
    rgba(244, 244, 249, 0.6),
    rgba(3, 8, 14, 0.6)
  );
  border-radius: 15px;
}

.info {
  background: none;
  margin-left: 20px;
}
h4 {
  color: white;
  font-size: small;
  background: none;
  margin-top: 10px;
}

.medium-img {
  max-width: 160px;
  background-color: none;
}

.time {
  color: white;
  background: linear-gradient(rgba(255, 139, 55, 0.35), rgba(255, 199, 0, 0.6));
  border: solid 2px #ff8b37;
  border-radius: 5px;
  height: 25px;
  width: 130px;
}

.level {
  background-color: #ff8b37;
  color: white;
  border-radius: 5px;
  height: 25px;
  width: 130px;
  border: none;
}

.bottom-card {
    margin-left: 25px;
}

/*Barra*/

.container {
    background: linear-gradient(#ffc700, #ff8b37);
    padding: 10px; 
    border-radius: 10px;
    width: 345px;
    height: 50px;
    align-items: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 25px;
    margin-top: 90px;
}

.icon-2 {
    margin-right: 15px; 
    margin-left: 15px;
    width: 40px; 
    height: 40px;
    background: none;
}
