:root {
    --colorButton1-start: #FF8B37;
    --colorButton1-end: #FFC700;
    --colorForum: #585A60;
    --backgroundColorFitzone: #02070C;
    --fitzoneOrange: #FF8B37;
    --fitzoneYellow: #FFC700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins';
    background-color: var(--backgroundColorFitzone);
    color: white;
    padding: 20px;
  }

